body{
    margin: 0;
}

.main-container{
    .navigation-menu{
        padding: 0.5rem 1rem;
        display: flex;
        justify-content: center;
        box-shadow: rgba(0, 0, 0, 0.219) 0px 5px 5px;
    }
    .interactive-section{
        display: flex;
        padding: 1rem;
        .map {
            margin-right: 1rem;
            width: 80%;
            height: 600px; 
        }
        .appartment-list{
            overflow-y: auto;
            width: 20%;
            height: 500px;
            padding: 1rem;
            box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
            border:white 10px solid;
            border-radius: 15px;
            .appartment-card{
                list-style: none;
                article{
                    border: rgba(0, 0, 0, 0.25) 1px solid;
                    border-radius: 15px;
                    padding: 1rem;
                    margin-bottom: 2rem;
                    img{
                        width: 100%;
                    }
                    h1, h3, p {
                        margin:1rem;
                    }
                }
            }
        }
    }
}

.submit-house-section{
    margin:1rem;
    display: flex;
    justify-content: center;
    .input-container{
        width: 50%;
        padding: 1rem;
        box-shadow: rgba(0, 0, 0, 0.219) 0px 0px 10px;
            div{
                display: flex;
                margin-bottom: 2rem;
                input, select{
                    margin-left: 1rem;
                }
                input, select{
                    font-size: 1rem;
                    padding: 0.2rem 1rem;
                }
        }
        }
}

button{
    margin: 0rem 0.5rem;
    color: white;
    padding: 0.5rem 1rem;
    background-color: salmon;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}